@import "compass";
@include global-reset;

body {
  .test {
    background: rgba(255,255,255,.5);
    display: block;
    width:950px;
    height: 900px;
    margin: auto;
    a {
      text-align: center;
      box-sizing: border-box;
      border-radius: 5px;
    }
    ul {
      li {
        margin-bottom: 30px;
      }
    }
  }
  .canvas {
    position: fixed;
    left:0;
    top:0;
    z-index: -1;

  }  
}
