/* line 1, style.scss */
.test {
  width: 960px;
  margin: auto;
}
/* line 4, style.scss */
.test a {
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
}

/* line 10, style.scss */
.canvas {
  position: absolute;
  left: 0;
  top: 0;
}
