@import "compass";
@include global-reset;

.test { 
  width:950px;
  height: 900px;
  margin: auto;
  a {
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
  }
}
.canvas {
  position: absolute;
  left:0;
  top:0;
  z-index: 0;
}